<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello WS</title>
    <link href="./webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="./webjars/jquery/jquery.min.js"></script>
    <script src="./webjars/sockjs-client/sockjs.min.js"></script>
    <script src="./webjars/stomp-websocket/stomp.min.js"></script>
    <script src="./static/scripts.js"></script>
    <link href="./static/style.css" rel="styleshhet">   
    <style>
    	.body{
			background-color: #003366;
			color:#ffffff
		}
		.close_div{
			display:none
		}
		.open_div{
			display:block
		}
		.top_40{
			margin-top: 40px
		}
		
    </style>
</head>
<body onload="myFunction()" class="container-fluid body">
	<div id="chat-room-div" class="row top_40">
		<div  class="col-md-5 col-md-offset-3">
			<div class="form-group">
			       <input type="text" class="form-control" id="username-txt" placeholder="Enter your name">
			 </div>
		</div> 
		<div class="col-md-1">
			<div class="form-group">
			       <button id="submitBtn" class="btn btn-default" type="submit">Submit</button>
			 </div>
		</div> 
		
	</div>
	
	<div id="your-name-div" class="row close_div top_40">
		<div class="col-md-1 col-md-offset-3">
			<h4 id="your-name"></h4>
		</div>
	</div>
	
	<div id="chat-div" class="row close_div">
		<div class="col-md-5 col-md-offset-3">
			<div class="form-group">
			       <input type="text" class="form-control" id="message" placeholder="Enter message text">
			 </div>
		</div> 
		<div class="col-md-1">
			<div class="form-group">
			       <button id="send" class="btn btn-default" type="submit">Send</button>
			 </div>
		</div> 
		
	</div>
	
	
	<div id="message-chat-div" class="row close_div">
		<div class="col-md-5 col-md-offset-3">
			<table style="border: none" class="table">
	  			<tbody id="messages-body">
	            </tbody>
			</table>		
		</div>		
	</div> 
<script>

$("#submitBtn").click(function(){
	var name=$("#username-txt").val();
  // Check browser support
	if (typeof(Storage) !== "undefined") 
	{
	  // Store
	  localStorage.setItem("username", name);
	  
	 $("#chat-room-div").css("display", "none");
	 $("#chat-div").css("display", "block");
	 
	 $("#your-name").html(name);
	 $("#your-name-div").removeClass("close_div");
	 $("#chat-room-div").removeClass("top_40");
	 	 	 
	} else {
	  alert("Sorry, your browser does not support Web Storage...");
	}
});

function myFunction()
{
	localStorage.setItem("username", "");
}

</script>
    
</body>
</html>